
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mapa</title>
</head>
<style>
    #map{
        height:25em;
    }
    h1{
        text-align: center;
    }
</style>
<body>
    <h1>Marcadores</h1>
    <section id="map"></section>
    <script src="script.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl6mfoS8AE5woNLZSUdmVN5ZrSjM1WVn4">
    </script>
</body>
</html>
