#body{
}

.fondo{
	background-color: #DFDFDF;
}

#contendor2{
    width: 350px;
    height: 160px;
    padding: 15px;

    position: static;
}

.texto{
	line-height: 0.5em;
	    position: relative;

}


#contendor{
    width: 350px;
    height: 270px;
    padding: 15px;
}

#titulo2{
    margin-top:5px;

}
#registrar{
    
     margin-left: 10px;
}
#regresar{
      margin-right: 10px;
}    
